@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;700&display=swap');
body{font-family: 'Poppins', sans-serif;}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("../img/header.jpg");
    height: 544px;
    background-size: cover;
    background-position: right top;
    color: rgb(35, 35, 94);
   /* width: 100%; */
}

h1{
    text-align: center;
   
}
nav {
    display: flex;
    align-items: center;
}
 ul{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    list-style: none ;
    
} 
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: brown;
}